# Compiled bytecode
/app/__pycache__/
/app/*.pyc
/__pycache__/

# Virtual environment
/virenv/

# Ignore migration files except migration scripts
/migrations/*
!/migrations/versions/*py

# Personal TODO list
/TODO
