{% extends "template.html" %}
{% block title %} Profile {% endblock %}

{% block content %}

  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/cat.jpeg" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Name: {{ user.username }}</p>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Signup date: {{ moment(user.signup_date).format('Do MMMM, YYYY HH:mm') }}</p>
          {% if user == current_user %}
          <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
