{% extends "template.html" %}
{% block title %} Welcome! {% endblock %}

{% block content %}

  <div class="jumbotron">
    {% if current_user.is_anonymous %}
    <h1 class="text-center">Welcome stranger!</h1>
    {% else %}
    <h1 class="text-center">Hello {{ current_user.username }}!</h1>
    {% endif %}
    <div class="msg">{{ msg }}</div>
    <p class="lead"></p>
    <div class="menu">
      {% if current_user.is_anonymous %}
      <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('login') }}">Login</a>
      <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('signup') }}">Sign Up</a>
      {% else %}
      <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
