<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!-- Style -->
      {% block style %}
      {% endblock %}

      <!-- Page title -->
      <title>{% block title %}{% endblock %}</title>

      <!-- For jQuery and other scripts that should be located in head -->
      {% block script %}
      {% endblock %}
  </head>
  <body>
    <div class="container-fluid mt-3">
      <nav>
        <div class="row">
          <div class="col">
            <ul class="nav">
              <a class="btn btn-primary" href="{{ url_for('home') }}">Home</a>
            </ul>
          </div>
          <div class="col">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                {% if current_user.is_anonymous %}
                <a class="btn btn-primary mr-1" href="{{ url_for('signup') }}">Sign Up</a>
                <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a class="btn btn-primary mr-1" href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
                <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <!-- Feedback messages -->
        <div>
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% endwith %}
      <div class="container mt-2">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment-with-locales.min.js" integrity="sha256-uJPj8InpomLtVNxPNJmru25EcZnOCdrG/Rm2ZrLJkRk=" crossorigin="anonymous"></script>
    {{ moment.include_moment(no_js=True) }}
  </body>
</html>
